<footer>
    <div class="pt-8 pb-8 bg-translucent">
        <div class="flex justify-center">
            <div class="footer__contact-form">
                <section class="text-center">
                    <include src="./views/forms/form-contact.html"></include>
                </section>
            </div>
        </div>   
    </div>

    <div class="pt-6 pb-6 bg-secundary">
        <div class="container xl:p-0 grid  grid-rows-2 xl:grid-rows-1 justify-center xl:justify-between">
            <a class="nav__link-brand nav-link m-0 h-fit col-span-full xl:col-span-4 xl:row-start-1 flex justify-center" href="/">
                <include src="views/header/logo.html"></include>
            </a>
            <ul class="col-span-full xl:col-span-8 xl:row-start-1 grid grid-flow-col grid-rows-2 md:grid-rows-1 md:gap-x-10 gap-y-4 w-[100vw] md:w-full items-center">
                <li class="flex justify-center col-span-4 col-start-1 md:col-start-auto md:col-span-2 row-start-1 md:row-start-auto">
                    <a class="nav-link nav__link-home" href="index.html">Inicio</a>
                </li>
                <li class="flex justify-center col-span-4 col-start-5 md:col-start-auto md:col-span-2 row-start-1 md:row-start-auto">
                    <a class="nav-link nav__link-players" href="players.html">Participantes</a>
                </li>
                <li class="flex justify-center col-span-4 col-start-9 md:col-start-auto md:col-span-2 row-start-1 md:row-start-auto">
                    <a class="nav-link nav__link-about" href="about.html">Sobre la liga</a>
                </li>
                <li class="flex justify-center col-span-4 col-start-1 md:col-start-auto md:col-span-2 row-start-2 md:row-start-auto">
                    <a class="nav-link nav__link-inscription text-grey cursor-default pointer-events-none" disabled>Inscripción</a>
                </li>
                <li class="flex justify-center col-span-4 col-start-5 md:col-start-auto md:col-span-2 row-start-2 md:row-start-auto">
                    <a class="nav-link nav__link-bibliography" href="bibliography.html">Bibliografía</a>
                </li>
                <li class="flex justify-center col-span-4 col-start-9 md:col-start-auto md:col-span-2 row-start-2 md:row-start-auto">
                    <ul class="p-0 grid grid-flow-col gap-x-6">
                        <li class="col-auto"><a href="#"><i class="fa-brands fa-facebook-f nav-link"></i></a></li>
                        <li class="col-auto"><a href="#"><i class="fa-brands fa-twitter nav-link"></i></a></li>
                        <li class="col-auto"><a href="#"><i class="fa-brands fa-google-plus-g nav-link"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-3 pb-3 bg-grey">
        <p class="text-center pb-0">Máster en Desarrollo de sitios y aplicaciones web</p>
        <p class="text-center pb-0">&copy; Universitat Oberta de Catalunya</p>
    </div>
</footer>