<div class="card flex-auto sm:flex-col-2 lg:flex-col-3">
    <picture>                 
      <source srcset="/src/assets/images/players/player_8/player_8.webp" type="image/webp">
      <img src="/src/assets/images/players/player_8/player_8.jpg" class="card-img"  alt="Retrato Benjamin Solis">
    </picture>
    <div class="card-body flex-1">
      <h5 class="card-title">Benjamin Solis</h5>
      <p class="card-text">Tiempo jugando: 6 años.</p>
      <p class="card-text">Nivel: A - 5.5.</p>
      <p class="card-text">Brazo hábil: derecho e izquierdo.</p>
    </div>
    <dialog class="modal position-center" id="modalPlayer8">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Benjamin Solis</h5>
          <button type="button" class="border-none close-modal">
          <i class="fa-solid fa-xmark text-icon text-grey hover:text-black"></i>
        </button>
        </div>
        <ul class="modal-body list-group">
          <li class="list-group-item">Partidos jugados en Racquet League: </li>
          <li class="list-group-item">Ganado: </li>
          <li class="list-group-item">Perdido: </li>
          <li class="list-group-item">% de victorias: </li>
          <li class="list-group-item">Puntos: </li>
        </ul>
        <div class="position-center bg-third h-[10dvh]">
          <h3 class="position-center text-center">La liga inicia el <time datetime="2024-01-13">13/01/2024</time></h3>
        </div>
      </div>
    </dialog>
    <div class="card-footer">
      <button class="btn-info btn-sm btn-player" id="btnModalPlayer8">Más información</button>
    </div>
</div>