<article id="about">
    <div class="h-[25dvh] relative overflow-hidden">
        <picture>                 
            <source srcset="./assets/images/about/webp/front-page-article.webp" type="image/webp">
            <img class="opacity-40 w-screen absolute bottom-0" src="./assets/images/about/jpg/front-page-article.jpg" alt="Pelota de tenis en la red">
        </picture>
        
        <h2 class="max-w-max absolute bottom-[50%] left-[50%] w-full translate-x-[-50%] translate-y-[50%]">Sobre Racquet League</h2>
        <div class="absolute bottom-[10%] left-[50%] w-full translate-x-[-50%] translate-y-[10%] max-w-max text-center">
            <h4>Autor:</h4>
            <p class="mb-4">Miriam Herrera</p>
        </div>
    </div>
    
    <div class="container px-3 sm:px-[2vw] py-0 mt-container-top mb-container-bottom">
        <section class="mb-[75px] @container">
            <h3 class="p-3 mb-6 bg-grey">Origen</h3>
            <div class="@[900px]:grid @[900px]:grid-cols-about-origin @[900px]:gap-[5%] @[900px]:ml-[5%]">
                <div class="text-end bg-grey-light border-y-4 border-y-grey h-fit m-6 py-6 px-4 @[900px]:m-auto">
                    <blockquote class="m-0 w-full relative">
                        <p class="mb-4 italic text-[1.2rem]">Creo que la suerte cae en no sólo los valientes, sino también los que creen que pertenecen allí. </p>
                        <footer class="text-[0.875rem] w-full relative"><span class="before:absolute before:top-[51%] before:right-[103px] before:w-[16px] before:content-[''] before:border-[1px] before:border-back"></span>Novak Djokovic.</footer>
                    </blockquote>
                </div>
                <div>
                    <p class="mb-4">El club de tenis San José de Benilla se fundó en <time datetime="2017">2017</time> por un grupo de 15 aficionados a este deporte de raqueta. Tras estos años de mejoras y evolución, el club ha tomado una nueva iniciativa junto con los demás clubs colindantes de la comarca de organizar una liga de tenis con fines benéficos.</p>
                    <picture>                 
                        <source srcset="./assets/images/about/webp/club.webp" type="image/webp">
                        <img class="p-[2vw] mb-4 @[900px]:p-6" src="./assets/images/about/jpg/club.jpg" alt="Miembros del club jugando en la pista">
                    </picture>
                    <p class="mb-4">Dicha liga está compuesta por un total de 31 torneos que se llevarán a cabo en las instalaciones del club de tenis de San José de Benilla, que disponen de un total de 4 pistas de tierra batida y 2 sintéticas.</p>
                </div>
            </div>
        </section>

        <section class="mb-[75px]">
            <h3 class="p-3 mb-6 bg-grey">Localización</h3>
            <div id="map-location" class="mx-6 mb-4 h-[350px]"></div>
        </section>

        <section class="mb-[75px]">
            <h3 class="p-3 mb-6 bg-grey">Fechas de los torneos</h3>
            <p class="mb-4">La liga se iniciará con el primer torneo el 13 de enero de 2024. A partir de esa fecha se jugará cada sábado y domingo hasta el 10 de marzo de 2024 que se llevará a cabo la final.</p>
            <div id="calendar" class="mx-6 mb-4"></div>
        </section>

        <section class="mb-[75px]">
            <h3 class="p-3 mb-6 bg-grey">Cuadro de emparejamientos</h3>
            <p class="mb-4">Actualmente no disponemos de los emparejamientos finales, ya que las inscripciones aún están abiertas.</p>
            <p class="mb-4">Si deseas participar en la liga, rellena el siguiente formulario: <a href="">Formulario de inscripción</a></p>
            <div>
                <div class="text-center">
                    <button type="button" id="btnTournament" class="btn btn-info btn-sm">
                        Cuadro de emparejamientos
                    </button>
                </div>
                <div class="hidden mt-12" id="collapseTournament">
                    <h4 id="collapseTournamentLabel">Cuadro de emparejamientos</h4>
                    <div id="tournament"></div>
                </div>
            </div>
        </section>
        
        <section>
            <h3 class="p-3 mb-6 bg-grey">Patrocinadores y premios</h3>
            <p class="mb-4">Agradecer al <b class="text-secundary font-bold">Mercado Central</b> y a los <b class="text-secundary font-bold">comercios del Paseo Alfonso X</b> por patrocinador el evento además de ofrecer los premios, entre los cuales se encuentran:</p>
            <ul class="mx-6 mb-4">
                <li><span class="text-secundary font-bold">Primer premio:</span> Lote Gran Ibérico (quesos, embutidos, vino, cava, jamón ibérico).</li>
                <li><span class="text-secundary font-bold">Segundo premio:</span> Lote Ibérico (quesos, embutidos, vino).</li>
                <li><span class="text-secundary font-bold">Tercer premio:</span> Lote Serrano (quesos, embutidos, vino).</li>
                <li><span class="text-secundary font-bold">Premio de participación:</span> Tabla de quesos.</li>
            </ul>
            <p class="mb-4">Con la contribución de los participantes y el dinero recaudado con las entradas venidas, se hará una donación a la organización <abbr class="text-secundary font-bold" title="Deporte Infantil para Niños con Enfermedades Crónicas">DINEC</abbr> para dar visibilidad y ayudar a lograr sus metas.</p>
            <div class="grid grid-flow-row grid-cols-3 lg:grid-cols-6 mx-6 mb-4">
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_1.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_1.jpg" alt="Sponsor1">
                </picture>
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_2.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_2.jpg" alt="Sponsor2">
                </picture>
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_3.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_3.jpg" alt="Sponsor3">
                </picture>
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_4.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_4.jpg" alt="Sponsor4">
                </picture>
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_5.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_5.jpg" alt="Sponsor5">
                </picture>
                <picture class="px-3 mb-4">                
                    <source srcset="./assets/images/sponsors/webp/sponsor_6.webp" type="image/webp">
                    <img class="rounded-full" src="./assets/images/sponsors/jpg/sponsor_6.jpg" alt="Sponsor6">
                </picture>
            </div>
        </section>
    </div>
</article>